# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [41]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [42]:
city_weather = pd.read_csv('../WeatherPy/city_weather1.csv')
city_weather.head()

,Unnamed: 0,City,Country,Latitude,Longitude,Date,Temp (Day),Humidity,Cloudiness,Wind Speed
0,0,busselton,au,-33.65,115.33,1586923200,68.49,36,17,15.79
1,1,boke,gn,10.94,-14.30,1586952000,106.20,18,47,1.48
2,2,port lincoln,au,-34.73,135.87,1586917800,78.62,25,100,18.10
3,3,carnarvon,au,-24.87,113.63,1586923200,80.60,47,31,22.53
4,4,lompoc,us,34.64,-120.46,1586894400,59.27,82,1,9.24

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [47]:
gmaps.configure(api_key=g_key)

In [48]:
locations = city_weather[['Latitude', 'Longitude']].astype(float)
humidity = city_weather['Humidity'].astype(float)

In [49]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 100, point_radius = 1)

fig.add_layer(heat_layer)
plt.savefig("./Images/HumidityHeatMap.png")
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [50]:
hotel_df = city_weather.loc[(city_weather['Humidity'] < 50) & (city_weather['Temp (Day)'] < 77) & (city_weather['Temp (Day)'] > 65)
                                & (city_weather['Cloudiness'] < 20) & (city_weather['Wind Speed'] < 10)]
hotel_df

,Unnamed: 0,City,Country,Latitude,Longitude,Date,Temp (Day),Humidity,Cloudiness,Wind Speed
99,111,salta,ar,-24.79,-65.41,1586966400,67.50,37,0,4.50
146,160,lichinga,mz,-13.31,35.24,1586941200,75.99,46,1,4.05
186,204,kruisfontein,za,-34.00,24.73,1586944800,71.35,49,0,1.81
214,234,cordoba,ar,-31.41,-64.18,1586966400,69.80,27,0,6.82
231,253,enshi,cn,30.30,109.48,1586923200,73.51,43,0,1.41
307,336,mehran,ir,33.12,46.16,1586939400,76.98,21,-2,4.18
327,356,bijie,cn,27.31,105.29,1586923200,65.26,41,15,3.78
336,365,san juan,us,-31.54,-68.54,1586966400,72.81,25,10,3.71
346,375,presidencia roque saenz pena,ar,-26.79,-60.44,1586966400,76.59,32,0,3.04
542,590,nusaybin,tr,37.08,41.22,1586941200,69.55,37,-10,7.63
574,623,punta alta,ar,-38.88,-62.07,1586966400,65.28,41,11,4.76

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [51]:
hotel_df['Hotel Name'] = ""
hotel_df

C:\Users\jewel\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,City,Country,Latitude,Longitude,Date,Temp (Day),Humidity,Cloudiness,Wind Speed,Hotel Name
99,111,salta,ar,-24.79,-65.41,1586966400,67.50,37,0,4.50,
146,160,lichinga,mz,-13.31,35.24,1586941200,75.99,46,1,4.05,
186,204,kruisfontein,za,-34.00,24.73,1586944800,71.35,49,0,1.81,
214,234,cordoba,ar,-31.41,-64.18,1586966400,69.80,27,0,6.82,
231,253,enshi,cn,30.30,109.48,1586923200,73.51,43,0,1.41,
307,336,mehran,ir,33.12,46.16,1586939400,76.98,21,-2,4.18,
327,356,bijie,cn,27.31,105.29,1586923200,65.26,41,15,3.78,
336,365,san juan,us,-31.54,-68.54,1586966400,72.81,25,10,3.71,
346,375,presidencia roque saenz pena,ar,-26.79,-60.44,1586966400,76.59,32,0,3.04,
542,590,nusaybin,tr,37.08,41.22,1586941200,69.55,37,-10,7.63,
574,623,punta alta,ar,-38.88,-62.07,1586966400,65.28,41,11,4.76,

In [52]:
target_radius = 5000
target_type = 'lodging'
params = {
    "keyword": "hotel",
    "radius": target_radius,
    "type": target_type,
    "key": g_key,
}

In [53]:
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotel_name = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_name['results'][0]['name']
    except:
        print("Missing field/result... skipping.")

C:\Users\jewel\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Missing field/result... skipping.

In [54]:
hotel_df

,Unnamed: 0,City,Country,Latitude,Longitude,Date,Temp (Day),Humidity,Cloudiness,Wind Speed,Hotel Name
99,111,salta,ar,-24.79,-65.41,1586966400,67.50,37,0,4.50,Samsara Hotel Salta
146,160,lichinga,mz,-13.31,35.24,1586941200,75.99,46,1,4.05,Girassol Lichinga
186,204,kruisfontein,za,-34.00,24.73,1586944800,71.35,49,0,1.81,
214,234,cordoba,ar,-31.41,-64.18,1586966400,69.80,27,0,6.82,Selina Nueva Cordoba
231,253,enshi,cn,30.30,109.48,1586923200,73.51,43,0,1.41,Moevenpick Enshi
307,336,mehran,ir,33.12,46.16,1586939400,76.98,21,-2,4.18,هتل رستوران میلاد
327,356,bijie,cn,27.31,105.29,1586923200,65.26,41,15,3.78,Four Points by Sheraton Bijie
336,365,san juan,us,-31.54,-68.54,1586966400,72.81,25,10,3.71,Hotel Viñas del Sol
346,375,presidencia roque saenz pena,ar,-26.79,-60.44,1586966400,76.59,32,0,3.04,Hotel Gualok
542,590,nusaybin,tr,37.08,41.22,1586941200,69.55,37,-10,7.63,Kasr-ı Serçehan Hotel
574,623,punta alta,ar,-38.88,-62.07,1586966400,65.28,41,11,4.76,Hotel Barcelona Center - Restaurant & Confitería

In [55]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [56]:
# Add marker layer ontop of heat map
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content= hotel_info
)
fig.add_layer(hotel_layer)
# Display Map
plt.savefig("./Images/HeatMapWithHotels.png")
fig

Figure(layout=FigureLayout(height='420px'))